@import "../../node_modules/nice-select2/src/scss/nice-select2.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.breed-select {
  margin-bottom: 40px;
  width: 220px;
  font-size: 16px;

}

.breed-select.hide {
  display: none;
}

.option {
  padding: 6px 10px;
}

.cat-info {
  padding: 0 200px;

  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.img-container {
  border-radius: 20px;
  width: fit-content;
  
}

img {
  border-radius: 20px;
}

.info-container {
  max-width: 600px;
}

.breed-name {
  margin-bottom: 20px;
  font-size: 30px;
}

.breed-info {
  margin-bottom: 20px;
}

.chars-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.characteristic-title {
  font-size: 18px;
  margin-bottom: 8px;
}



.loader-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-wrap.hidden {
  visibility: hidden;
}
.loader {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:
rotate(360deg); } }